SUBSYSTEM=="backlight", KERNEL=="amdgpu_bl*", RUN+="chgrp video $sys$devpath/brightness", RUN+="chmod g+w $sys$devpath/brightness"
SUBSYSTEM=="backlight", KERNEL=="intel_backlight", RUN+="chgrp video $sys$devpath/brightness", RUN+="chmod g+w $sys$devpath/brightness"
SUBSYSTEM=="backlight", KERNEL=="acpi_video*", RUN+="chgrp video $sys$devpath/brightness", RUN+="chmod g+w $sys$devpath/brightness"
